.metadata/
RemoteSystemsTempFiles/.project
recursivelyJsonRead/.classpath
recursivelyJsonRead/.project
recursivelyJsonRead/.settings/org.eclipse.jdt.core.prefs
recursivelyJsonRead/.settings/org.eclipse.m2e.core.prefs
